/*spacemediquery*/





.container2.active{
    margin-left: -10px;
 
}

.container1.hide{
  display:none;
   
}

.Buttonorange{
    width: 48px;
    height: 49px;
    display: flex;
    margin-left: 50%;
}