
/*container2*/
.container2{
    position:absolute;
    margin-left: 430px;
    transform: translateY(-90.5%);
    transition: all 0.3s ease;
    display:none;
        
}
.container2.active{
    margin-left: -10px;
    display: block;
    transform: translate(12%,-0.5%);
 
}


/*footer2*/
.orangesquare{
    background-color:#f55318;
    width: 104%;
    margin-left:-8px;
    border-radius: 15px;
    display:flex;
    justify-content:center;
    flex-direction: column;
    height: 260px;
    
    
    
    }
    
    .Enviar-pedido{
    
    width: 306px;
    height: 40px;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    
    }
    
    
    .It{
    width: 306px;
    height: 36px;
    border-radius: 12px;
    justify-content: space-between;
    display: flex;
    margin-left: 26px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    color:white;
    font-size: 10px;
    }
