
/*container2*/
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 80%);
    display:none;
    width: 100%;
    height:100%;
}
.containerbox{

    width: 40%;
    height:70%;
    border-radius: 15px;
}

.compra{
    margin: 5%;
}

/*footer2*/
.orangesquare{
    background-color:#f55318;
    width: 24%;
    border-radius: 15px;
    display:flex;
    justify-content:center;
    flex-direction: column;
    height: 260px;
    position: absolute;
    margin-top: 11%;
    
    
    }
    
    .Enviar-pedido{
    
    width: 306px;
    height: 40px;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    margin-left: 25%;
    }
    
    
    .It{
    width: 93%;
    height: 36px;
    border-radius: 12px;
    justify-content: space-between;
    display: flex;
    margin-left: 26px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    color:white;
    font-size: 10px;
    background-color:#f55318;
    }

    .It h1 {
        background-color:#f55318;
    }
    .container2.toggle{
        display: flex;
    }

    .compra.none{
        display: none;
    }
