@import url(headers.css);
@import url(footers.css);
@import url(buttons.css);
@import url(medias.css);
@import url(page1.css);
@import url(page2.css);
@import url(page3.css);




*{
    
    font-style: normal;
    background-color: white;
    
  

}
body{
    font-family:  'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);

}